In [2]:
t1=(1, "two", 3)
t2=(t1, 3.25)
print(t2)
print(t1+t2)
print((t1+t2) [3])
print((t1+t2) [2:5])

((1, 'two', 3), 3.25)
(1, 'two', 3, (1, 'two', 3), 3.25)
(1, 'two', 3)
(3, (1, 'two', 3), 3.25)

In [5]:
def findDivisors(n1,n2):
    divisors=() #the empty tuple
    for i in range (1, min(n1,n2)+1): #range 는 1부터 21까지(작은거에 +1이니까)-->1부터 20까지 하나-
        if n1%i==0 and n2%i==0:
            divisors = divisors + (i,)
    return divisors

divisors = findDivisors(20,100)
print(divisors)
total=0
for d in divisors:
    total+=d
print(total)

(1, 2, 4, 5, 10, 20)
42

In [7]:
def findExtremeDivisors(n1,n2):
    divisors=() #the empty tuple
    minVal, maxVal = None, None
    for i in range(1, min(n1,n2)+1):
        if n1%i==0 and n2%i==0:
            if minVal == None or i < minVal:
                minVal = i
            if maxVal == None or i > maxVal:
                maxVal = i
    return (minVal, maxVal)

minDivisor, maxDivisor = findExtremeDivisors(100,200)
print(minDivisor, maxDivisor)

1 100

In [10]:
range(0,7,2)==range(0,8,2)  #0.2.4.6

True

In [14]:
range(0,7,2)==range(6,-1,-2)  #(0,2,4,6) (6,4,2,0) 순서다름

False

In [15]:
L=["I did it all", 4, "Love"]
for i in range (len(L)):
    print(L[i])

I did it all
4
Love

In [19]:
Techs=["MIT", "Caltech"]
Ivys = ["Harvard", "Yale", "Brown"]
Univs=[Techs, Ivys]
Univs1=[["MIT", "Caltech"], ["Harvard", "Yale", "Brown"]]
print("Univs =", Univs)
print('Univs1 =', Univs1)
print(Univs == Univs1)

Univs = [['MIT', 'Caltech'], ['Harvard', 'Yale', 'Brown']]
Univs1 = [['MIT', 'Caltech'], ['Harvard', 'Yale', 'Brown']]
True

In [22]:
print("Id of Univs =", id(Univs))
print("Id of Univs =", id(Univs1))

Id of Univs = 2085758176000
Id of Univs = 2085757611904

In [23]:
Techs.append("PRI")
print("Univs =", Univs)
print('Univs1 =', Univs1)

Univs = [['MIT', 'Caltech', 'PRI'], ['Harvard', 'Yale', 'Brown']]
Univs1 = [['MIT', 'Caltech'], ['Harvard', 'Yale', 'Brown']]

In [30]:
techstup=('MIT',"Caltech")
ivystup = ("Harvard", "Yale", "Brown")
techslist=['MIT',"Caltech"]
ivyslist=["Harvard", "Yale", "Brown"]
Univs = [techslist, ivyslist]
print ("1:", Univs)
flat = techslist+ivyslist
print("2:", flat)
techslist.append("RIT")
print(techslist)
print(Univs)
print(flat)

1: [['MIT', 'Caltech'], ['Harvard', 'Yale', 'Brown']]
2: ['MIT', 'Caltech', 'Harvard', 'Yale', 'Brown']
['MIT', 'Caltech', 'RIT']
[['MIT', 'Caltech', 'RIT'], ['Harvard', 'Yale', 'Brown']]
['MIT', 'Caltech', 'Harvard', 'Yale', 'Brown']

In [32]:
techstup=('MIT',"Caltech")
ivystup = ("Harvard", "Yale", "Brown")
techslist=['MIT',"Caltech"]
ivyslist=["Harvard", "Yale", "Brown"]
Univs = [techslist, ivyslist]
print ("1:", Univs)
flat = techslist+ivyslist
print("2:", flat)
Univstup=[techstup, ivystup]
print("3:", Univstup)
techstup=techstup+("RIP",)
print(techstup)

1: [['MIT', 'Caltech'], ['Harvard', 'Yale', 'Brown']]
2: ['MIT', 'Caltech', 'Harvard', 'Yale', 'Brown']
3: [('MIT', 'Caltech'), ('Harvard', 'Yale', 'Brown')]
('MIT', 'Caltech', 'RIP')

In [34]:
techstup=('MIT',"Caltech")
ivystup = ("Harvard", "Yale", "Brown")
techslist=['MIT',"Caltech"]
ivyslist=["Harvard", "Yale", "Brown"]
Univs = [techslist, ivyslist]
print ("1:", Univs)
flat = techslist+ivyslist
print("2:", flat)
Univstup=[techstup, ivystup]
print("3:", Univstup)
ivyslist.extend(techslist)
print("4:", ivyslist)
print("5:", Univs)

1: [['MIT', 'Caltech'], ['Harvard', 'Yale', 'Brown']]
2: ['MIT', 'Caltech', 'Harvard', 'Yale', 'Brown']
3: [('MIT', 'Caltech'), ('Harvard', 'Yale', 'Brown')]
4: ['Harvard', 'Yale', 'Brown', 'MIT', 'Caltech']
5: [['MIT', 'Caltech'], ['Harvard', 'Yale', 'Brown', 'MIT', 'Caltech']]

In [36]:
def removeDups(L1, L2):
    for e1 in L1 :
        if e1 in L2:
            L1.remove(e1)
L1=[1,2,3,4]
L2=[1,2,5,6]
removeDups(L1,L2)
print('L1=',L1)

L1= [2, 3, 4]

In [37]:
L=[x**2 for x in range(1,7)]
print(L)

[1, 4, 9, 16, 25, 36]

In [38]:
L=[1,2,"a", 3, 4.0]
print([x**2 for x in L if type(x)==int])

[1, 4, 9]

In [39]:
myTuple = ("a", "b", "c","d")
print(myTuple)
print(myTuple[1])

('a', 'b', 'c', 'd')
b

In [40]:
myTuple = ("pythone", (1,2,3), [4,5,6])
print (myTuple[0])
print (myTuple[0] [2])
print (myTuple[1][1])

pythone
t
2

In [41]:
myTuple=("p", "y", "t", "h", "o", "n")
print(myTuple[1:4])
print(myTuple[:3])
print(myTuple[:])

('y', 't', 'h')
('p', 'y', 't')
('p', 'y', 't', 'h', 'o', 'n')

In [42]:
myTuple=(10,20,[1,3,5])
print(myTuple)

(10, 20, [1, 3, 5])

In [45]:
myTuple[0]=1
#tuple은 immutable

TypeError: 'tuple' object does not support item assignment

In [44]:
Tu_1=(1,2,3)
Tu_2=(4,5,6)
print(Tu_1+Tu_2)
print(Tu_1*2)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3)

In [50]:
x=int(input("input number: "))
x_oct=""
x_hex=""
x_hex_dic=["A", "B", "C", "D", "E", "F"]

temp=x

while (temp>0):
    x_oct=str(temp%8) + x_oct
    temp//=8
    
temp=x
while (temp>0):
    if (temp%16>9):
        x_hex=x_hex_dic[temp%16-10]
        
        temp//=16
        
if (x==0):
    x_oct="0"
    x_hex ="0"
    
print(str(x)+"\'s octal numner is 0"+x_oct)
print(str(x)+"\'s hexadecimal numner is 0x"+x_hex)

input number: 10
10's octal numner is 012
10's hexadecimal numner is 0xA

In [84]:
cnt=int(input("학생의 수를 입력하세요 :"))
n=cnt
p=cnt
scores=[]

while cnt>0:
    x=input("성적을 입력하세요 : ")
    cnt-=1
    scores.append(int(x))

def find_min(scores):
    n=len(scores)
    min_v=scores[0]
    for i in range(1,n):
        if scores[i]<min_v:
            min_v=scores[i]
    return min_v

def find_max(scores):
    n=len(scores)
    max_v=scores[0]
    for i in range(1,n):
        if scores[i]>max_v:
            max_v=scores[i]
    return max_v



print("성적 평균은 ", sum(scores)/n, "입니다.")
print("가장 높은 점수는 ", find_max(scores), "입니다,")
print("가장 낮은 점수는", find_min(scores), "입니다.")

학생의 수를 입력하세요 :5
성적을 입력하세요 : 50
성적을 입력하세요 : 40
성적을 입력하세요 : 30
성적을 입력하세요 : 20
성적을 입력하세요 : 10
성적 평균은  30.0 입니다.
가장 높은 점수는  50 입니다,
가장 낮은 점수는 10 입니다.

In [120]:
Tuple=(10, 20, 30, 40)
L=[]
cnt=5
while cnt>0:
    cnt-=1
    x=input("숫자를 입력해 주세요 :")
    L.append(int(x))
    
for i in L:
    j=0
    while j < len(L)-1:
        if L[j]>L[j+1]:
            t=L[j]
            L[j]=L[j+1]
            L[j+1]=t
        j+=1
        
print(L)
print("tuple과 list를 합친 결과 result", list(Tuple)+L)

숫자를 입력해 주세요 :35
숫자를 입력해 주세요 :22
숫자를 입력해 주세요 :15
숫자를 입력해 주세요 :18
숫자를 입력해 주세요 :48
[15, 18, 22, 35, 48]
tuple과 list를 합친 결과 result [10, 20, 30, 40, 15, 18, 22, 35, 48]